/* Bids
====================================== */

.bids {
  counter-reset: bid;

  .bid-link:before {
    content: counter(bid);
    display: inline-block;
    float: right;
    padding-left: 6px;
    line-height: 1.2;
    color: #ddd;
  }
}

.bid {
  position: relative;
  counter-increment: bid;
  background: #fff;
  & + & {
    margin-top: $small;
  }
}

.bid-link {
  line-height: 1.2;
}

.bid-title {
  font-family: $heading-font;
  margin-right: 0.6em;
}

.hostname {
  font-size: $text-small;
  color: $dark;
  a { color: $dark; }
}

.upvote {
  color: $dark-gray;
  user-select: none;
  &:hover {
    text-decoration: none;
  }

  &.upvoted {
    color: $upvoted;
  }

  &.updating {
    transform: scale(0.8);
  }
}


.bid-info {
  margin-top: 0.2rem;
  font-size: $text-small;
}

// .bided-by {}

.bid-info-item:before {
  content: '\00b7';
  display: inline-block;
  margin: 0 0.3rem;
}

.load-more {
  display: block;
  padding: 4px 0;
  text-align: center;
}
